div#crypto-container{
    width: 70%;
    margin: 0 auto 4px auto;
    padding: 1em;
    box-shadow: 1px 1px 0 lightgrey;
  }
  
  span.left{
    font-weight: bold;
  }
  
  span.right{
    float: right;
  }
  
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  
  .link::after{
    content: '';
    display: block;
    opacity: 0%;
    height: 2px;
    background: white;
    transition: opacity 0.5s;
  
  }
  .link:hover::after{
    opacity: 100%;
    transition: opacity 0.5s;
  }
  
  
  .menu li{
    font-size: 16px;
    padding: 15px 5px;
  
  }
  .menu li a{
    display: block;
  }
  .logo a{
    font-size: 20px;
    text-decoration: none;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile Menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle{
    order: 1;
  }
  .item.button {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active{
    display: block;
  }
  
  .toggle {
    cursor: pointer;
  }
  
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
  }
  
  .bars::before,.bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
  }
  
  .bars::before{
    top: 5px;
  }
  .bars::after{
    top: -5px;
  }
  
  /* Tablet Menu */
  
  @media all and (min-width:468px){
    .menu{
      justify-content: center;
    }
    .logo{
      flex: 1;
    }
    .item.button{
      width: auto;
      order: 1;
      display: block;
    }
  
    .toggle{
      order: 2;
    }
    .button.secondary{
      border: 0;
    }
    .button a{
      text-decoration: none;
      padding: 7px 15px;
      background: transparent;
      border: 1px solid #bd1420;
      border-radius: 50em;
    }
    .button a:hover{
      box-shadow: inset 90px 0 0 0 #ff1e2c;
      transition: ease-out 0.3s;
      color: #222;
    }
  }
  
  /* Desktop Menu */
  
  @media all and (min-width:768px){
  
    .item{
      display: block;
      width: auto;
    }
    .toggle{
      display: none;
    }
    .logo{
      order: 0;
    }
    .item{
      order: 1;
    }
    .button{
      order: 2;
    }
  
    .menu li{
      padding: 15px 10px;
    }
    .menu li.button{
      padding-right: 0;
    }
  }
  
  .navbar {
    background: #393E41;
    display: flex;
    margin-bottom: 10%;
  }
  .nav-item{
    margin-right: 15px;
  }
  .navbar button{
      margin-left: 5%;
      font-size: 150%;
      padding: 10px;
  }
  .navbar-brand{
      margin-left: 5%;
      color: #5498FD;
      font-size: xx-large;
      font-weight: 550;
  }
  #icon{
      margin-left: 2%;
      border-radius: 15px;
      border: 4px solid #5498FD;
  }
  
  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #goToMarket{
  width: 100% !important;
  }
  
  #logout-btn {
  margin-top: 3%;
  }
  #login-btn {
  margin-top: 3%;
  }
  #signup-btn {
  margin-top: 3%;
  }
  
  .navbar-toggler-icon {
  color: #5498FD !important;
  }
  
  .collapse .nav-link {
  color: white !important;
  }

  @media screen and (max-width: 900px) {
      .btn {
          max-width: 100%;
          min-width: 100%;
          margin-top: 2%;
      }
      ul li{
          margin: 0 auto;
          width: 50%;
      }
      a {
          margin-left: 5%;
      }
      #logout-btn {
          width: 2%;
      }
      #login-btn {
        width: 20%;
        margin: 1% 50% 0 45%;
        font-size: x-large;
    }
    #signup-btn {
        width: 20%;
        margin: 1% 50% 0 44%;
        font-size: x-large;
    }
  }